USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[tbl_Employees]    Script Date: 12/4/2025 10:47:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](100) NULL,
	[EmployeeEmail] [varchar](100) NULL,
	[EmployeeSalary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spDeleteEmployee]    Script Date: 12/4/2025 10:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spDeleteEmployee]
	@ID INT
as
Begin
	Delete from tbl_Employees
	Where ID = @ID

end
GO
/****** Object:  StoredProcedure [dbo].[spGetAllEmployees]    Script Date: 12/4/2025 10:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spGetAllEmployees]
as
Begin
	Select * from tbl_Employees

end
GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeeByID]    Script Date: 12/4/2025 10:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spGetEmployeeByID]
	@ID INT
as
Begin
	Select * from tbl_Employees where ID=@ID

end
GO
/****** Object:  StoredProcedure [dbo].[spInsertEmployee]    Script Date: 12/4/2025 10:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spInsertEmployee]

	@EmployeeName VARCHAR(100),
	@EmployeeEmail VARCHAR(100),
	@EmployeeSalary DECIMAL(18,2)
as
Begin
	Insert into tbl_Employees (EmployeeName, EmployeeEmail, EmployeeSalary)
	Values(@EmployeeName,@EmployeeEmail,@EmployeeSalary)

end
GO
/****** Object:  StoredProcedure [dbo].[spUpdateEmployee]    Script Date: 12/4/2025 10:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spUpdateEmployee]
	@ID INT,
	@EmployeeName VARCHAR(100),
	@EmployeeEmail VARCHAR(100),
	@EmployeeSalary DECIMAL(18,2)
as
Begin
	Update tbl_Employees set EmployeeName=@EmployeeName, EmployeeEmail=@EmployeeEmail, EmployeeSalary=@EmployeeSalary
	Where ID = @ID

end
GO
